* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a:hover {
    background-color: #59ff5f;
}

body {
    text-align: center;
    background-color: #051900;
}

h1 {
    font-size: 60px;
    color: #76ff64;
    background-color: #102c11;
    margin: 0;
    padding: 20px;
}

.title {
    border: solid #000c00 20px;
    display: inline-block;
}

.topnav {
    background-color: #333;
    height: 50px;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.centered {
    display: inline-block;
}

.title {
    background-color: #102c11;
    color: #76ff64;
    font-size: 60px;
    font-family: Verdana;
    border: solid #000c00 20px;
    display: inline-block;
}